@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .host{
        @apply flex flex-col;
    }

    a{
        @apply cursor-pointer transition ease-in-out;
    }

    .active-link{
        @apply text-cyan-500 underline-offset-4 underline;
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.wrapper{
    position: relative;
}

a{
    text-decoration: none;
}

.page-wrapper{
    margin: 10px;
    text-align: center;
}

.page-wrapper h1{
    
}

/* Header Styles */

.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 20px 2px;
    width: 100%;
}

.nav-links{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.link{
    color: cornflowerblue;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
}

.logo{
    color: cornflowerblue;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

/* Header Styles End */

/* Home Styles */

.homepage{
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0,0,0,1.5)), url('/src/assets/images/homeImg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.home-title, .home-detail{
    color: white;
    text-align: center;
}

.home-detail{
    font-weight: 100;
}

.find-van{
    background-color: cornflowerblue;
    padding: 15px;
    color: white;
    border: none;
    font-size: medium;
    font-weight: 700;
    width: 50%;
    align-self: center;
}

.link-icon{
    color: white;
    height: 90px;
}

/* Home Styles End */

/* About Styles */

.about-page{
    width: 100%;
    text-align: left;
}

.about-page img{
    width: 100%;
    height: auto;
}

.det{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cta{
    padding: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    gap: 20px;
    background-color: burlywood;
    margin: 20px;
}


.cta-btn{
    padding: 10px;
    border: none;
    color:white;
    background-color: black;
    width: 150px;
} 

/* About Styles End */

/* Vans styles */



.vans-page{
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.vans-page, .van-card{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.van-card{
    flex-direction: column;
    margin-block: 15px;
}

.van-card img{
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
    border-radius: 2px;
}

.van-card .van-type, .vanDetail-card .vanDetail-type{
    width: 70px;
    padding: 5px 15px;
    border-radius: 2px;
    color: white;
}

.van-card .details, .vanDetail-card .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.type.selected{
    color:cornflowerblue;
}

.van-type.simple:hover, .van-type.simple.selected, .vanDetail-type.simple:hover, .vanDetail-type.simple.selected, .van-det.simple {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected, .vanDetail-type.rugged:hover, .vanDetail-type.rugged.selected, .van-det.rugged {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected, .vanDetail-type.luxury:hover, .vanDetail-type.luxury.selected, .van-det.luxury {
    background-color: #161616;
}

.vanDetail-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vanDetail-card img{
    border-radius: 5px;
    margin-block: 20px;
}

.vanDetail-card button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #E17654;
    color: white;
    font-size: medium;
}

.back-to-vans{
}


/* Vans Styles End */

/* Footer Styles */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 10
     0px;
    width: 100%;
    background: linear-gradient(rgb(224, 231, 245), rgb(224, 231, 245));
    color:rgb(0, 0, 0);
}

/* Footer Styles End */